body {
    margin-left: 50px;
    background-image: url(https://images.unsplash.com/photo-1472437774355-71ab6752b434?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dd4d735954f33290fbf984e4eb7abe32&auto=format&fit=crop&w=967&q=80);
    -webkit-background-size: cover;
    background-size: cover;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}
button {
    padding: 5px;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #008C8C;
    letter-spacing: 1px;
    font-weight: bold;
}
button:hover {
    color: #008C8C;
    background-color: #fff;
}
